dissertation.aux
dissertation.bbl
dissertation.blg
dissertation.lof
dissertation.out
dissertation.pdf
dissertation.synctex.gz
dissertation.toc
dissertation-autopp.dvi
dissertation-autopp.pdf
dissertation-autopp.ps
images/traces_example.PNG
images/traces_trivial.PNG
red.pdf
red.png
red.ps
